* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media (min-width: 991px) {
  .nav-item {
    position: relative;
  }
  .nav-item a::before {
    content: "";
    width: 0;
    height: 3px;
    background-color: green;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: all 0.4s linear;
  }
  .nav-item a:hover::before {
    width: 100%;
  }
}
.dropdown-item:hover {
  background-color: white;
}
video,video source {
 object-fit: cover;
  max-height: 700px;
  min-height: 500px;
width: 100%;
}
.content {
  top: 20%;
}
.content h1 {
  letter-spacing: 15px;
  text-shadow: 3px 5px black;
}
.content p {
  letter-spacing: 5px;
  text-shadow: 3px 3px black;
}

#color_change_slider img {
  width: 100%;
  height: 100%;
  min-height: 500px;
  min-width: 50%;
  max-width: 100%;
  max-height: 900px;
  margin-bottom: 100px;
}
.ccs-inside {
  top: 30%;
  right: 10%;
  left: 15%;
}
.ccs-inside h2 {
  letter-spacing: 10px;
  text-shadow: 3px 3px black;
}
.ccs-inside p {
  letter-spacing: 5px;
  text-shadow: 2px 2px black;
}
.boxes .box {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  box-shadow: 1px 1px 1px 1px black;
  cursor: pointer;
}
.boxes .box:nth-child(1) {
  background-image: radial-gradient(circle, #ffffff, #ddad03);
}
.boxes .box:nth-child(2) {
  background-image: radial-gradient(circle, #64ed16, #ff9a00);
}
.boxes .box:nth-child(3) {
  background-image: radial-gradient(circle, #66ede9, #ed4dff);
}
@media (max-width: 1250px) {
  .ccs-inside {
    top: 28%;
  }
}
@media (max-width: 1050px) {
  .ccs-inside {
    top: 22%;
  }
}
@media (max-width: 800px) {
  .ccs-inside {
    top: 22%;
  }
}
.currentpage::before {
  content: "";
  width: 100% !important;
  height: 3px;
  background-color: green;
  position: absolute;
  bottom: 0;
  left: 0;
}
.footerlinks a {
  color: green;
  transition: all 0.3s ease-in-out;
}
.footerlinks a:hover {
  color: green;
  text-shadow: 1px 1px rgba(0, 128, 0, 0.619) ;
  box-shadow: 2px 3px 2px 2px green ;
}

footer .bg_img{
  background-image: url(/Images/Logo/logo.png);
  background-position:center;
  background-repeat:no-repeat;
  background-size: cover;
  max-height: 300px;
  min-height: 300px;
  opacity: 0.07;
  z-index: -1;
}
footer .container-fluid{
  background: transparent;
  z-index: 10;
}
.feedbackbox{
  padding: 25px 10px 25px 10px;
  transition: all 0.5s ease-in-out;
}
.feedbackbox:hover{
  padding: 25px 20px 25px 20px;
}